<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show</title>
  </head>
  <body>
    <h1>My Employees Data</h1>
    <% data.forEach((item)=>{ %> 
        <%=item.EmployeeID%> <%=item.FirstName%> <br>
    <% }); %>
  </body>
</html>
