* {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.col1, .col2, .col3 {
    width: 33.33%;
    float: left;
}

@media screen and (max-width: 400px) {
    .col1, .col2, .col3 {
        width: 100%;
    }
}