@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.inline input,
.inline select,
.inline button {
  display: inline-block;
  width: auto;
  margin-right: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

#result {
  text-align: center;
}
